*{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

h1{
    width: 70vw;
    margin: 20px auto;
}

a{
    text-decoration: none;    
}

a:hover{
    text-decoration: underline;
}

nav{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(67, 167, 224);
    z-index: 1;

}

nav ul{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;
}


nav li{    
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li a {
    color:white;
    font-weight: bolder;
    font-size: 1rem;
}

.banner{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quote{
    font-style: italic;
    margin: 30px;
    font-size: xx-large;
}

label {
    font-size: 3rem;
}

label p {
    margin: 0;
    padding: 50px 0;
}

.inputs{    

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 300px;
}

.inputBlock{
    width: 30vw;
    margin: 50px auto;
}

.inputBox{
    
    width: 80%;
    text-align: center;
    font-size: 3rem;
}

.inputPair{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

#result{
    margin: 200px 50px;
    font-size: x-large;
}

#map{
   height:400px;
   width: 80%; 
   margin: 0 auto;
}

#resultTitle{
    font-size: x-large;
    margin-bottom: 50px;
}

#chartdiv {    
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    background-color:#454a58;
}
@media screen and (max-width: 600px) {
    .inputs{
        flex-direction: column;
    }
    .inputBlock{
        width: 100%;
    }
    .inputPair{
        flex-direction: column;
    }
}